button {
  border: 3px solid rgb(41, 41, 59);
  background-color: black;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  color: white;
}
button:hover {
  border: 3px solid rgb(166, 166, 189);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
